.ex-1-square{
    transition-duration: 3s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition-duration: 3s;
}

.ex-2-square:active{
    height: 200px;
    width: 300px;
}